.address-customer-container {
    width: 90%;
    height: 195px;
    margin: 15px 5%;
    background-color: #fff;
    box-shadow: 1px 1px 1px #eff1f3;
}
.address-customer-name {
    margin: 5px 15px;
}
.address-customer-tax{
    font-size: 12px;
    font-weight: 500; 
}
.address-customer-email{
    margin: 5px 15px;
    font-size: 16px;
    font-weight: 300; 
}
.address-customer-add-btn {
    width: 90%;
    margin: 20px 5%;
    background: #007065;
    color: #fff;
    border: 1px solid #007065;
    padding: 5px 0;
}
.address-customer-add-btn:hover{
    color: #ff502f;
    border: 1px solid #ff502f;
}
.address-not-have {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .address-customer-container {
        text-align: center;
    }
    .address-customer-add-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .address-customer-add-btn {
        width: 25%;
    }
}